/*mixin para cajas de seccion de ventas*/
/****************************************************************
Reset CSS
*****************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/****************************************************************
Google Fonts
*****************************************************************/
/****************************************************************
HEADER PARA TODAS LAS PAGINAS
*****************************************************************/
.header .menu {
  background-color: black;
  font-size: 1.5rem;
}
.header .menu div a .logo {
  width: 300px;
  height: 80px;
}
.header .menu div .menuLista ul li a:hover {
  color: yellow;
}

/*************************************************************************************************
FOOTER TODAS LAS PAGINAS
*************************************************************************************************/
.footer {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer div a .logo {
  width: 300px;
  height: 80px;
}
.footer .nav .redes a img {
  width: 40px;
  height: 40px;
  margin: 5px;
}
.footer h4 {
  padding-right: 10px;
  font-size: 1.5rem;
}

/****************************************************************
PAGE INDEX
*****************************************************************/
.bodyPrincipal {
  font-size: 1.5rem;
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-areas: "header header header" "main   main   main" "main   main   main" "footer footer footer";
}

header {
  grid-area: header;
}

/****************************************************************
MAIN
*****************************************************************/
.mainPrincipal {
  grid-area: main;
}
.mainPrincipal .slider div div div img {
  border: solid 2px rgb(209, 111, 14);
  height: 600px;
  object-fit: cover;
}
.mainPrincipal .sectionVentas {
  display: flex;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.mainPrincipal .sectionVentas .cajaTablas, .mainPrincipal .sectionVentas .cajaAccesorios, .mainPrincipal .sectionVentas .cajaTrajes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
  background-image: url(../img/tablas.jpg);
}
.mainPrincipal .sectionVentas .cajaTablas a, .mainPrincipal .sectionVentas .cajaAccesorios a, .mainPrincipal .sectionVentas .cajaTrajes a {
  text-decoration: none;
  color: white;
}
.mainPrincipal .sectionVentas .cajaTablas a h2, .mainPrincipal .sectionVentas .cajaAccesorios a h2, .mainPrincipal .sectionVentas .cajaTrajes a h2 {
  font-size: 2rem;
  border-radius: 7px;
  border: solid 3px;
  padding: 2px 5px;
  transition: background-color 1s, color 2s, border 2s, font-size 2s;
}
.mainPrincipal .sectionVentas .cajaTablas a h2:hover, .mainPrincipal .sectionVentas .cajaAccesorios a h2:hover, .mainPrincipal .sectionVentas .cajaTrajes a h2:hover {
  font-size: 2.5rem;
  color: yellow;
  background-color: black;
  border: solid yellow;
}
.mainPrincipal .sectionVentas .cajaTrajes {
  background-image: url(../img/trajes.jpg);
}
.mainPrincipal .sectionVentas .cajaAccesorios {
  background-image: url(../img/accesorios.jpg);
}

footer {
  grid-area: footer;
}

/**********************************************************************************
Page Contacto
***********************************************************************************/
.bodyContacto {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  display: grid;
  gap: 20px;
  grid-template-areas: "header header" "main   form" "footer footer";
}

.mainContacto {
  padding-top: 50px;
  justify-self: center;
  grid-area: main;
  height: 80vh;
}

.cajaForm {
  padding-top: 50px;
  grid-area: form;
  width: 80%;
}

/***************************************************************************************************
QUERIES PARA INDEX, HEADER Y FOOTER DE TODAS
**************************************************************************************************/
@media (max-width: 768px) {
  .bodyPrincipal {
    grid-template-areas: "header" "main" "main" "footer";
  }
  .mainPrincipal .slider div div div img {
    height: 200px;
    width: 200px;
  }
  .mainPrincipal .sectionVentas .cajaTablas, .mainPrincipal .sectionVentas .cajaTrajes, .mainPrincipal .sectionVentas .cajaAccesorios {
    width: 300px;
    height: 150px;
  }
  .footer {
    flex-direction: column;
  }
  .footer div a .logo {
    width: 200px;
    height: 60px;
    padding-right: 20px;
  }
  .footer .nav .redes a img {
    width: 30px;
    height: 30px;
    margin: 5px;
  }
  .footer h4 {
    padding-right: auto;
    font-size: 1rem;
  }
}
/***************************************************************************************************
QUERIES PAGE CONTACTO
**************************************************************************************************/
@media (max-width: 768px) {
  .bodyContacto {
    grid-template-columns: 100%;
    font-size: 1.2rem;
    grid-template-areas: "header" "main" "form" "footer";
  }
  .cajaForm {
    padding: 20px;
    justify-self: auto;
    grid-area: form;
    width: auto;
  }
  .mainContacto {
    padding: 20px;
    height: auto;
  }
  .mainContacto iframe {
    width: 300px;
    height: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
