/*************************************************************************************************
FOOTER TODAS LAS PAGINAS
*************************************************************************************************/
.footer {
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    div {

        a {

            .logo {
                width: 300px;
                height: 80px;
            }
        }
    }

    .nav {

        .redes {

            a {

                img {
                    width: 40px;
                    height: 40px;
                    margin: 5px;
                }
            }
        }
    }

    h4 {
        padding-right: 10px;
        font-size: 1.5rem;
    }

}